{% extends 'layout.html' %}

{% block title %}-list_photos{% endblock %}

{% block body %}

    <div class="container">
        <h1>List</h1>
        <hr/>
    {% for photo in photos %}
        <div class="text-center">
            {% if photo.thumb != '' %}
            <a href="{% url 'photos:view_photo' pk=photo.pk %}"><img src="{{ photo.thumb.url }}" /></a>
            {% endif %}
            <h4>
                <a href="{% url 'photos:view_photo' pk=photo.pk %}">{{ photo.title }}</a><br/>
                <small>{{ photo.user }}</small>
            </h4>
        </div>
        <hr/>
    {% empty %}
        <div>
            <h3>empty list</h3>
        </div>
    {% endfor %}
    <a href="{% url 'photos:create_photo' %}" class="btn btn-default">Create</a>
    </div>

{% endblock %}