{% extends 'layout.html' %}

{% block title %}-view_photo{% endblock %}

{% block body %}

    <div class="container">
        <h1>View</h1>
        <hr/>
        <div><h3>{{ photo.title }}</h3></div>
        <div>{{ photo.user }} / {{ photo.created_at }}</div>
        <div><img src="{{ photo.image.url }}"/></div>
        <div>{{ photo.content }}</div>
        <hr/>
        <div>
            <a href="{% url 'photos:list_photos' %}" class="btn btn-default">Go List</a>
            <a href="{% url 'photos:create_photo' %}" class="btn btn-default">Create</a>
            <a href="{% url 'photos:delete_photo' pk=photo.pk %}" class="btn btn-default">Delete</a>
        </div>
    </div>

{% endblock %}